<center><h1>Stay</h1></center>
<p>As a little ghost you have to escape from an evil machine. 
This machine is trying to destroy your forest execrably and when it rains, it pours: 
Additionally robots invaded your home and are now hunting for ghosts. 
Just escape and survive!</p>

<center><h1><%= link_to "Download",  :controller => 'pages', :action => 'download' %></h1></center>